<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>LXGWWenKai-Regular.ttf</string>
        <string>SourceHanSansCN-Regular.otf</string>
        <string>Ming_Chao.otf</string>
        <string>Dingding_JinBuTi.ttf</string>
        <string>jianghu-gufeng.ttf</string>
        <string>jiangnan-hand.ttf</string>
        <string>CooperZhengKai-1.1.ttf</string>
        <string>zhongzusong.ttf</string>
        <string>guangkekai.ttf</string>
        <string>bangbang.ttf</string>
        <string>beili.ttf</string>
        <string>summerxingkai.ttf</string>
        <string>PingFangLaiJiangHuFeiYangTi-2.ttf</string>
        <string>zhaizaijiafentiao.ttf</string>
        <string>linhai-li.ttf</string>
        <string>honglei-banshu.ttf</string>
        <string>zongxi-li.otf</string>
        <string>ZhiMangXing-Regular.ttf</string>
        <string>daizen.ttf</string>
        <string>sanji-xingkai.ttf</string>
        <string>ximaixihuan.ttf</string>
    </array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app needs access to save wallpapers to your Photos library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs access to save wallpapers to your Photos library.</string>
</dict>
</plist> 